body {
    margin: 20px 30px;
    font-family: Verdana, sans-serif;
}

table {
    width: 100%;
}

table td {
    padding: 6px;
}

table th {
    padding-left: 10px;
    font-size: x-large;
    width: 60%;
}

.panel-title {
    font-size: 26pt;
}

.bootstrap-switch {
    position: absolute;
    top: 20px;
    right: 20px;
}

.description {
    font-size: 14pt;
}

.bg-success {
    background-color: #dff0d8;
    border: 1px solid green;
}
.bg-failure {
    background-color: #f2dede;
    border: 1px solid red;
}
.bg-error {
    background-color: lightgrey;
    border: 1px solid #111;
}
.bg-pending {
    background-color: #fcf8e3;
    border: 1px solid orange;
}
.bg-unknown {
    background-color: grey;
    border: 1px solid #111;
}

.panel-error {
    border-color: slategrey;
}

.panel-error>.panel-heading {
    color: #444;
    background-color: lightgrey;
    border-color: slategrey;
}
